body{
	background-image : url(" https://raw.githubusercontent.com/b21255/b21255.github.io/master/IMAGE.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-attachment: fixed;
	background-position : center ;

	
	
}
h1{  
    
	color : red ;
	font-family : Arial Black;
	font-size : 40pt;
	text-align: center;
	
	
	
}
h2{
	font-family : Verdana;
	font-size : 40px;
	font-style : bold;
	color : #ffff00;
}
h3{
	font-family : Arial;
	font-size : 40px;
	font-style : bold;
	color : green;
}
p1{
	font-family : Verdana;
	font-size : 28pt;
	font-style : bold;
	position : relative;
	left : 750px;
}
p2{
	font-family : ALGERIAN;
	font-size : 25px;
	font-style : normal;
	color : #800000;
}
p3{
	font-family : Arial;
	font-size : 25px;
	font-style : italic;
	color : red;
}
table,th,td {
	border : 1px solid black;
	border-collapse : collapse;
}
td{
	
	color : yellow;
	
}
pre {
	color : red;
	font-size :18pt;
	
	
}
a#link1{
	background-color : pink;
	text-align : center;	
} 